:root {
    --primary-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --dark-background-color: #2F303A;
    --light-background-color: #F5F4FA;
    --rarely-black: #000000;
    --page-header-border: #ECECEC;
    --portfolio-border: #EEEEEE;
    --footer-link-color: rgba(255, 255, 255, 0.6);
}

/* body */
.page {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
/* header */
.page-header {
    border-bottom: 1px solid var(--page-header-border);
}

.main-nav {
    display: flex;
    align-items: center;
}



.logo-accent {
    color:var(--accent-color);
}

.logo-black {
    color: var(--rarely-black);
}

.logo-white {
    color: var(--primary-white-color);
}

.site-nav .link,
.contacts .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .logo {
    margin-right: 93px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    text-decoration: none;
}

.list .nav:not(:last-child) {
    margin-right: 50px;
}

.site-nav {
    display: flex;
}

.site-nav .list{
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .link {
    color: var(--second-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

ul, p, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}
/* hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url('../images/header-img.jpg');
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;
    
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
   
}

.hero-title {
    margin-bottom: 30px;

    color: var(--primary-white-color);
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-primery {
    display: inline-block;
    border-radius: 4px;
    min-width: 216px;
    padding: 10px 32px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;

    cursor: pointer;
}
/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.properties {
     padding-bottom: 0;
}

.items {
    display: flex;
}
.descrip::before {
    display: block;
    content: '';
    height: 120px;
    
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url('../images/antenna\ 1.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.descrip {
    
    width: 270px;
}

.items .descrip + .descrip {
    margin-left: 30px;
}

.title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text {
        color: var(--second-text-color);

        font-size: 14px;
        line-height: 1.7;
}

.main-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.work {
    display: flex;
}

.work .pictures + .pictures {
    margin-left: 30px;
}
.team-list {
    display: flex;
}

.team-list .team-item + .team-item {
    margin-left: 30px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--light-background-color);
}

.photo {
   display: block;
  
}

.subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.desc {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.2;
    
}

.team-cont {
    
    padding-top: 30px;
    padding-bottom: 30px;
   
    
    text-align: center;
    background-color: var(--primary-white-color);
}

.list {
    list-style: none;
}
/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    display: block; 
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    text-decoration: none;
}
    
.footer .links {
    display: block;
}

.footer .links:not(:last-child) {
    margin-bottom: 9px;
}

.footer {
    background-color: var(--dark-background-color);
}

.footer .address {
    color: var(--primary-white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.item {
    color: var(--footer-link-color);
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;     
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}
/* portfolio */
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list .item + .item {
    margin-left: 8px;
}

.button-secondary {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    color: var(--primary-text-color);
    background-color: var(--light-background-color);

    border: none;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    cursor: pointer;
}

.port-list {
    display: flex;
    flex-wrap: wrap;
}

.port-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.port-item:nth-child(3n) {
    margin-right: 0;
}

.port-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.port-img {
    display: block;
}

.border {
    border: 1px solid var(--portfolio-border);
    padding: 20px 24px;
}

.portfolio-title {
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--second-text-color);

    font-size: 16px;
    line-height: 1.9;
}

.button-secondary:hover,
.button-secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}






